.btn{
    background-color: #2d8fdd;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    &:hover{
        background-color: #2f84ca;
    }
}