<div class="product-card">
    <img [src]="product().image" [alt]="product().title" class="product-image" />
    <div class="product-info">
        <h2 class="product-title">{{ product().title }}</h2>
        <p class="product-description">{{ product().description }}</p>
        <div class="product-footer">
            <span class="product-price">${{ product().price }}</span>
            <span class="product-stock" [ngClass]="product().stock ? 'instock' : 'out-of-stock'">
                @if (product().stock) {
                    {{ product().stock }} left
                }@else {
                    out-of-stock
                }
            </span>
        </div>
        <br>
        <app-primary-btn lableName="Add to Cart" (btnClicked)="CartService.addToCart(product())"></app-primary-btn> 
    </div>
</div>